
<div class='container'>
<ul class="nav nav-pills">
  <li>
    <a href="{{site.baseurl}}/integration">Обзор</a>
  </li>
  <li>
    <a href="{{site.baseurl}}/integration/services">Сервисы</a>
  </li>
  <li>
    <a href="{{site.baseurl}}/integration/classifiers">Справочники</a>
  </li>
  <li>
    <a href="{{site.baseurl}}/integration/models">Модели</a>
  </li>
  <li>
    <a href="{{site.baseurl}}/integration/security">Безопасность</a>
  </li>
  <li>
    <a href="{{site.baseurl}}/integration/formats.html">Общие форматы</a>
  </li>
</ul>
</div>
